{% extends 'base.html' %}
{% block title %} Exchanger {% endblock %}
{% block body %} 
    <form action="/procesarregistro" method="POST">
        <table class="u-full-width">
            <tr>
                <th>Sel.</td>
                <th>Fecha</td>
                <th>Descripcion</td>
                <th>Moneda Comprada</td>
                <th>Cantidad Comprada</td>
                <th>Moneda Pagada</td>
                <th>Cantidad Pagada</td>
            </tr>
            {% for movimiento in movimientos %}
            <tr>
                <td><input type="radio" name="ix" value="{{ movimiento[6] }}"></td>
                <td>{{movimiento[0]}}</td>
                <td>{{movimiento[1]}}</td>
                <td>{{movimiento[2]}}</td>
                <td>{{movimiento[3]}}</td>
                <td>{{movimiento[4]}}</td>
                <td>{{movimiento[5]}}</td>
            </tr>
            {% endfor %}                                

        </table>    
        <br/>
            <a href="/nuevacompra" class="button button-primary">Nueva Compra</a>        
            
            <button name="btnselected" value="Modificar" type="submit" class="miboton  button-primary">Modificar</button>
            <button name="btnselected" value="Borrar" type="submit" class="miboton  button-primary">Borrar</button>
    </form>
{% endblock %}